.button-style {
  flex-basis: 25%;
  background: black;
  color: #fff;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  border: none;
  border-radius: 10px;
  border-right: solid 12px #3c4857;
  border-bottom: solid 12px #3c4857;
}

.button-style:hover {
  background-color: pink;
  font-weight: bolder;
  color: #838991;
}
